.homepage {
  display: flex;
  background-color: #f7f8f8;
  color: ;
  height: 92vh;
  padding-inline: 30px;
}

.homepage-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.homepage-text {
  font-size: 48px;
  margin-bottom: 10px;
  word-spacing: 1%;
}

.homepage-description {
  font-size: 20px;
  max-width: 400px;
  margin-bottom: 20px;
}

.homepage-image {
  flex: 1;
  background: url("images/homepage.png") center;
  background-size: 90%;
  background-repeat: no-repeat;
}
